.kulukortti {
    border-bottom: 1px solid rgb(51, 153, 73);
    display: flex;
}

.kulukortti__rivi {
    display: flex;
    justify-content:space-between;
}

.kulukortti__tyyppi, .kulukortti__summa {
    font-weight: bold;

}

.kulukortti__maksupaiva, .kulukortti__ajanjakso,
.kulukortti__maksunsaaja, .kulukortti__keskiarvo {
    font-size: 85%;
    color: #666;
}

.kulukortti > div {
    flex: 1 1 auto;
    padding: 1em;
}

.kulukortti__linkki {
    max-width: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1)
}

.kulukortti:hover .kulukortti__linkki {
    display: flex;
}

.kulukortti__linkki a {
    color: #000;
}